---
import type { Localized } from '../lib/i18n';
import T from './T.astro';

interface Props {
  quote: Localized;
  author: string;
  initial: string;
  retreatRef: Localized;
  rating?: number;
}

const { quote, author, initial, retreatRef, rating = 5 } = Astro.props;
const stars = Array.from({ length: rating });
---

<div class="testimonial-card reveal">
  <div class="stars">{stars.map(() => <span>★</span>)}</div>
  <span class="quote-mark">"</span>
  <T value={quote} tag="blockquote" />
  <div class="testimonial-author">
    <div class="author-avatar">{initial}</div>
    <div class="author-info">
      <p class="name">{author}</p>
      <T value={retreatRef} tag="p" class="retreat-ref" />
    </div>
  </div>
</div>
